.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 40px;

  line-height: 18px;
  text-transform: uppercase;

  cursor: pointer;
}

.button--green {
  background-color: @green-main;
}

.button--gray {
  font-size: 16px;
  line-height: 20px;
  color: @text-gray;

  background-color: @gray-main;
}
