.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  padding: 11px 0;

  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: white;

  border: none;

  cursor: pointer;
}

.button--green {
  background-color: @green;

  &:hover {
    background-color: @green--dark;
  }

  &:active {
    color: @white--opacity-30;
  }
}

.button--gray {
  font-size: 16px;
  line-height: 20px;
  color: @gray--darkest;

  background-color: @gray--light;

  &:hover {
    background-color: @gray--lighter;
  }

  &:active {
    color: @gray--opacity-30;
  }
}

@media (min-width: @tablet-width) {
  .button {
    width: 250px;

    font-size: 16px;
  }
}

@media (min-width: @desktop-width) {
  .button {
    width: 170px;
  }
}
