.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: @secondary-font;
}

.copyright__link {
  height: 100%;
  padding: 30px 20px;

  font-size: 16px;
  color: @gray--darkest;

  &:hover + svg {
    fill: @green;
  }

  &:active {
    opacity: 0.3;
  }

  &:active + svg {
    opacity: 0.3;
  }
}

.copyright__academy-icon {
  margin-right: 13px;

  fill: @gray--dark-3;

  &:hover {
    fill: @green;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .copyright {
    width: auto;
    margin: 0;
    padding: 0 0 4px 0;
  }

  .copyright__link {
    display: flex;
    align-items: center;
    padding: 0 15px 0 0;
  }

  .copyright__academy-icon {
    margin-right: 23px;
  }
}

@media (min-width: @desktop-width) {
  .copyright {
    padding: 0;
  }

  .copyright__link {
    padding-top: 4px;
  }

  .copyright__academy-icon {
    margin-right: 102px;
    margin-top: 6px;
  }
}
