.example-result {
  position: relative;

  width: 82px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -21px;

    width: 21px;
    height: 52px;

    border: 1px solid @gray--dark;
    border-right: none;
    border-radius: 5px 0 0 5px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -21px;

    width: 21px;
    height: 52px;

    border: 1px solid @gray--dark;
    border-left: none;
    border-radius: 0 5px 5px 0;
  }
}

.example-result__content {
  text-align: center;

  border-top: 1px solid @gray--dark;
}

.example-result__value {
  display: block;
  margin-bottom: 10px;
  padding-top: 12px;

  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: @black;

  white-space: nowrap;
}

.example-result__title {
  font-family: @secondary-font;
  font-size: 12px;
}

@media (min-width: @tablet-width) {
  .example-result {
    width: 120px;

    &::before {
      width: 23px;
      height: 70px;
    }

    &::after {
      width: 23px;
      height: 70px;
    }
  }

  .example-result--right {
    &::before {
      left: -10px;

      width: 9px;
    }

    &::after {
      right: -10px;

      width: 9px;
    }
  }

  .example-result__value {
    margin-bottom: 13px;

    font-size: 30px;
    line-height: 37px;
  }

  .example-result__title {
    font-size: 14px;
  }
}
