.input {
  flex-grow: 1;
  width: 140px;
  padding-left: 15px;

  font-size: 16px;
  line-height: 18px;
  color: @gray--darkest;

  border: 1px solid @gray--darker;

  &:hover {
    border: 1px solid @gray--dark;
  }

  &:focus {
    border: 1px solid @gray--darkest;
  }

  &:invalid {
    border: 1px solid @red;
  }
}

.input__default {
  height: 45px;
  margin-left: 15px;

  line-height: 45px;
}

.input__default--has-icon {
  margin-left: 11px;
  padding-right: 40px;

  &:focus ~ svg {
    fill: @green;
  }

  &:invalid ~ svg {
    fill: @red;
  }
}

.input__textarea {
  width: 100%;
  min-height: 151px;
  padding: 13px 0 0 15px;

  text-transform: uppercase;

  resize: none;
  overflow: auto;
}

@media (min-width: @tablet-width) {
  .input {
    width: 100%;
    padding-left: 16px;

    font-size: 20px;
    line-height: 20px;
  }

  .input__default {
    height: 52px;
    margin-left: 18px;

    line-height: 52px;
  }

  .input__default--has-icon {
    margin-left: 20px;
  }

  .input__textarea {
    min-height: 174px;
  }
}

@media (min-width: @desktop-width) {
  .input {
    padding-left: 20px;
  }

  .input__default--has-icon {
    margin-left: 20px;
  }
}
