.live-example {
  .mobile-options;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  background-color: @gray--light;
}

.live-example__title {
  padding: 16px 20px 23px 20px;

  font-size: 36px;
  line-height: 60px;
  color: @black;
}

.live-example__description {
  margin-bottom: 25px;
  padding: 0 21px;

  font-family: "Arial", sans-serif;
  line-height: 18px;
}

.live-example__result-left {
  margin-left: 41px;
}

.live-example__result-right {
  margin-right: 41px;
}

.live-example__cost {
  flex-grow: 1;
  margin-bottom: 37px;
  padding-top: 21px;

  text-align: center;
  text-transform: uppercase;
  color: @black;
}

.live-example__image {
  margin-bottom: 34px;
}

.live-example__toggle-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 38px;

  font-size: 16px;
  text-transform: uppercase;
  color: @black;
}
