.motivation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;

  color: white;

  background: url("../../img/index-background-mobile@1x.jpg") no-repeat center top;
}

.motivation__title {
  margin: 26px 0;

  font-size: 36px;
  text-align: center;
}

.motivation__quote {
  margin-bottom: 28px;

  text-transform: uppercase;
}

.motivation__image {
  margin-bottom: 3px;
}
