.motivation {
  background-image: url("../img/index-background-mobile@1x.jpg"), linear-gradient(to bottom, @green--darker 64%, white 36%);
  background-repeat: no-repeat;
  background-position: center top;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg"), linear-gradient(to bottom, @green--darker 64%, white 36%);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 320px 305px;
  }
}

.motivation__wrapper {
  .mobile-options;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;
}

.motivation__title {
  margin: 26px 0;

  font-size: 36px;
  text-align: center;
}

.motivation__quote {
  margin-bottom: 28px;

  text-transform: uppercase;
}

.motivation__image-wrapper {
  width: 280px;
  height: 271px;
  margin-bottom: 3px;
}

.motivation__image {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .motivation {
    background: none;
  }

  .motivation__wrapper {
    align-items: flex-start;
    width: @tablet-width;
    padding-bottom: 528px;

    background: url("../img/index-can-tablet@1x.jpg") no-repeat center bottom;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/index-can-tablet@2x.jpg") no-repeat top right;
    }
  }

  .motivation__title,
  .motivation__quote,
  .motivation__link {
    margin-left: 118px;
  }

  .motivation__link {
    width: 245px;
    padding: 17px 0;

    font-size: 20px;
  }

  .motivation__title {
    margin-top: 52px;
    margin-bottom: 42px;

    font-size: 60px;
    text-align: left;
    color: @black;
  }

  .motivation__quote {
    margin-bottom: 48px;

    font-size: 20px;
    color: @black;
  }

  .motivation__image-wrapper {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .motivation {
    position: relative;

    &::before {
      position: absolute;
      z-index: -1;
      top: -118px;
      right: 0;

      content: "";
      width: 100%;
      height: 696px;

      background: linear-gradient(to left, @green--darker 50%, white 50%);
      background-size: cover;
    }
  }

  .motivation__wrapper {
    position: relative;

    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    width: @desktop-width;
    height: 580px;
    padding-bottom: 0;

    background: none;

    &::before {
      position: absolute;
      z-index: -1;
      top: -118px;
      right: 0;

      content: "";
      width: 719px;
      height: 696px;

      background: url("../img/index-background-desktop@1x.jpg") no-repeat top right;
      background-size: cover;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background: url("../img/index-background-desktop@2x.jpg") no-repeat top right;
        background-size: 719px 696px;
      }
    }
  }

  .motivation__title,
  .motivation__quote,
  .motivation__link {
    margin-left: 192px;
  }

  .motivation__title {
    margin-top: 104px;
  }

  .motivation__quote {
    margin-bottom: 52px;
  }

  .motivation__image-wrapper {
    display: block;
    order: 1;
    width: 550px;
    height: 500px;
    margin-top: 25px;
    margin-left: -43px;
  }
}
