.nav-list {
  .list-reset;
}

.nav-list__item {
  height: 66px;

  border-bottom: 1px solid @gray--darker;

  &:last-child {
    border: none;
  }
}

.nav-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  font-family: @default-font--medium;
  font-size: 20px;
  text-transform: uppercase;
  color: @black;
}
