.page-footer__links-wrapper {
  background-color: @gray--light;
}

.page-footer__links {
  .mobile-options;
}

.page-footer__partnership-wrapper {
  background-color: @gray--light;
}

.page-footer__partnership-wrapper--white {
  background-color: white;
}

.page-footer__partnership {
  padding: 28px 0 26px 0;
}

.page-footer__title {
  display: block;
  margin: 0 20px;

  border-bottom: 1px solid @gray;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__logo {
  margin: 0 auto;
  padding: 39px 0 32px 0;
}

@media (min-width: @tablet-width) {
  .page-footer__partnership {
    padding: 65px 0 60px 0;
  }

  .page-footer__title {
    width: auto;
    margin: 0;

    border: none;
  }

  .page-footer__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: @tablet-width;
    margin: 0 auto;
  }

  .page-footer__logo {
    margin: 58px 33px 62px 30px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    position: relative;
  }

  .page-footer__links {
    width: @desktop-width;
  }

  .page-footer__logo {
    margin: 64px 112px 60px 112px;
  }

  .page-footer__partnership-wrapper {
    position: relative;

    width: @desktop-width;
    margin: 0 auto;
  }
}
