.page-main__motivation {
  margin-bottom: 22px;
}

.page-main__cats-programs {
  margin-bottom: 18px;
}

.page-main__how-it-work {
  margin-bottom: 43px;
}

.page-main__catalog {
  margin-bottom: 28px;
}

.page-main__additional-goods {
  margin-bottom: 34px;
}

.page-main__gift {
  width: 280px;
  margin: 0 auto;

  background: @green url("../img/gift-photo-mobile@1x.jpg") no-repeat center;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background: @green url("../img/gift-photo-mobile@2x.jpg") no-repeat center;
    background-size: 280px 289px;
  }
}

.page-main__gift-description {
  width: 170px;
  margin: 0 auto;
  padding: 187px 0 42px 0;

  font-family: @secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: white;

  background: url("../img/icon-gift.svg") no-repeat center;
  background-size: 63px 60px;
  background-position-y: 65px;
}

.page-main__program-selection {
  margin-bottom: 32px;
}

@media (min-width: @tablet-width) {
  .page-main__motivation {
    margin-bottom: 0;
  }

  .page-main__cats-programs {
    margin-bottom: 45px;
  }

  .page-main__how-it-work {
    margin-bottom: 0;
  }

  .page-main__catalog {
    margin-bottom: 67px;
  }

  .page-main__gift {
    width: 706px;

    margin: 0 30px 35px 30px;

    background: @green url("../img/gift-photo-tablet@1x.jpg") no-repeat center;
    background-size: 708px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: @green url("../img/gift-photo-tablet@2x.jpg") no-repeat center;
      background-size: 708px 200px;
    }
  }

  .page-main__gift-description {
    width: 170px;
    margin: 0 auto 0 0;
    padding: 73px 10px 68px 424px;

    text-align: left;

    background-position-x: 87px;

    box-sizing: content-box;
  }

  .page-main__additional-goods {
    margin-bottom: 76px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__motivation {
    margin-bottom: 79px;
  }

  .page-main__cats-programs {
    margin-bottom: 73px;
  }

  .page-main__catalog {
    margin-bottom: 72px;
  }

  .page-main__live-example {
    padding-bottom: 20px;
  }

  .page-main__gift {
    width: 245px;

    margin: 0 108px 0 0;

    background: @green url("../img/gift-photo-desktop@1x.jpg") no-repeat center;
    background-size: 245px 289px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: @green url("../img/gift-photo-desktop@2x.jpg") no-repeat center;
      background-size: 245px 289px;
    }
  }

  .page-main__gift-description {
    padding: 186px 10px 42px 40px;

    text-align: center;

    background-position-x: 94px;
  }

  .page-main__additional-goods {
    margin-bottom: 84px;
  }
}
