.product-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.product-item__content {
  display: flex;
}

.product-item__link {
  width: 140px;
  height: 144px;
  margin-left: 20px;
}

.product-item__image {
  max-width: none;
}

.product-item__info {
  flex-grow: 1;
  padding: 21px 18px 22px 0;
}

.product-item__title {
  display: block;
  width: 60%;
  padding-bottom: 13px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @black;
}

.product-item__properties {
  .list-reset;

  display: flex;
  flex-direction: column;
}

.product-item__property {
  display: flex;
  justify-content: space-between;

  font-family: @secondary-font;
  font-size: 12px;
  line-height: 16px;
}


.product-item__button {
  margin: 0 20px 24px 20px;
}

@media (min-width: @tablet-width) {
  .product-item {
    flex-wrap: nowrap;
    width: 324px;
    margin-top: 137px;

    background-color: @gray--light;
  }

  .product-item__link {
    width: auto;
    height: auto;
    margin: -46px 0 22px 0;
  }

  .product-item__link--big {
    margin-top: -81px;
  }

  .product-item__content {
    flex-direction: column;
  }

  .product-item__image {
    width: 324px;
    margin: 0 auto;
  }

  .product-item__info {
    padding: 14px 38px 34px 40px;
  }

  .product-item__title {
    width: 135px;
    margin: 0 auto;
    padding-bottom: 28px;

    font-size: 20px;
    text-align: center;
  }

  .product-item__property {
    padding: 7px 0;

    font-size: 16px;
    line-height: 16px;

    border-bottom: 1px solid @gray--dark;

    &:first-child {
      padding-top: 0;
    }
  }

  .product-item__button {
    margin: 0 auto 40px auto;
  }
}

@media (min-width: @desktop-width) {
  .product-item {
    width: 245px;
  }

  .product-item__image {
    width: 245px;
    margin: 0 auto;
  }

  .product-item__button {
    font-size: 16px;
  }
}
