.social {
  .mobile-options;

  background-color: @gray--light;
}

.social__list {
  .list-reset;

  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 280px;
  margin: 0 auto;
  padding: 4px 0;

  border-bottom: 1px solid #d9d9d9;
}

.social__item {
  width: 55px;
  height: 55px;
}

.social__item--vkontakte {
  background: url("../img/icon-vk-mobile.svg") no-repeat center;
  background-size: 22px 12px;
}

.social__item--instagram {
  background: url("../img/icon-insta-mobile.svg") no-repeat center;
  background-size: 16px 16px;
}

.social__item--facebook {
  background: url("../img/icon-fb-mobile.svg") no-repeat center;
  background-size: 10px 19px;
}

.social__link {
  display: block;
  width: 100%;
  height: 100%;

  font-size: 0;
}
