@tablet-width: 768px;
@desktop-width: 1440px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

@white--opacity-30: rgba(255, 255, 255, 0.3);
@gray--opacity-30: rgba(68, 68, 68, 0.3);

@green: #68b738;
@green--darker: #64a83b;
@green--dark: #5eaa2f;

@red: #ff8282;

@gray--light: #f2f2f2;
@gray--lighter: #ededed;
@gray--tiny-light: #eaeaea;
@gray: #d9d9d9;
@gray--darker: #e6e6e6;
@gray--dark: #cdcdcd;
@gray--dark-2: #989898;
@gray--dark-3: #666666;
@gray--darkest: #444444;

@black--lighter: #222222;
@black: #111111;

@default-font: "Oswald", "Arial", sans-serif;
@secondary-font: "Arial", sans-serif;
